body,
    background: $white-bg
    #document-header,
    #document-footer,
        background: $white-bg
        border-bottom: none
  
  
header
    #document-header
        .is-sticky
            background: $white-bg


.block-page-asso,
.block-page-actus
    background-color: $purple-bg
    padding: $padding-blocks
    a
        color: $text-white
                

.block-page-festival
    a
        color: $text-red 

.hero
    background: $white-bg
    color: $text-red


