// ACCUEIL 

body,
    background: $white-bg
    #document-header,
    #document-footer,
        background: $white-bg
        border-bottom: none
  

header
    #document-header
        .is-sticky
        background: $white-bg

.menu 
    .nav-level-1 
        > li 
            > a
                color: $text-red

.page__home
    header
        .content
            justify-content: center
            hgroup
                display: flex
                justify-content: flex-end
                flex-wrap: wrap
                width: $width4
        figure
            picture
                width: $width4

.block-page-asso,
.block-page-actus
    background-color: $purple-bg
    padding: $padding-blocks
    a, p
        color: $text-white

.block-page-festival
    color: $text-red 
    .top, .grid
        a
            color: $text-red 

// .hero--image-square 
    .content 
        figure
            margin-right: $spacing5 
            border: solid pink 

.hero
    background: $purple-bg
//


// FESTIVAL 

.hero
    background: $white-bg
    color: $text-red

.events__section
    .hero 
        min-height: 0
        margin-bottom: 0
    .blocks
        .container
            background: $purple-bg
            color: $text-white
            p
                width: px2rem(1300)
                padding: $spacing1
                text-align: justify

        

// ASSOCIATION

.persons__section
    .hero 
        min-height: 0
        margin-bottom: 0
    .document-content
        .blocks
            .container
                background: $purple-bg
                color: $text-white
                .block-content
                    padding: 0
                p
                    width: px2rem(1300)
                    padding: $spacing1
                    text-align: justify
            .container
                .taxonomies-persons,
                .persons
                    display: none

// VALEURS

.pages__section
    .hero 
        min-height: 0
        margin-bottom: 0
    .page-with-blocks
        .document-content
            .blocks
                .container
                    background: $purple-bg
                    color: $text-white
                    .block-content
                        padding: 0
                        p
                        width: px2rem(800)
                        padding: $spacing1
                        text-align: justify
                    