// GALLERY 

.authors__taxonomy
    .page-with-blocks
        .document-content
            .blocks
                .container
                    .block-content
                        padding: 0
                        figure
                            display: flex
                            flex-direction: column
                            a
                                width: 80%
                            figcaption
                                display: grid
                                width: 80%
                                height: 170px 
                                text-align: center
                                align-items: center 




